.header {
  min-height: 100vh;
  position: relative;
}
.nav {
  display: flex;
  padding: 2em 0;
  justify-content: space-around;
}

.links {
  list-style: none;
  justify-content: space-between;
  li {
   
    a {
      color: #fff;
      font-size: 1em;
      text-decoration: none;
      padding: 10px 0;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      position: relative;
      &::before {
        position: absolute;
        top: -2px;
        left: 0;
        overflow: hidden;
        padding: 10px 0;
        max-width: 0;
        border-bottom: 3px solid #ffc107;
        color: #ffc107;
        content: attr(data-hover);
        transition: max-width 0.5s;
      }
      &:hover {
        color: #ffc107;
        &::before{
          max-width: 100%;
        }
      }
    }
  }
}
.indicator{
  width: 100%;
  position: fixed;
  height: 2.5px;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 10;
  div{
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: #FD7272;
    transition: all .7 ease-in-out;
  }
}