.logo{
  text-align: center;
  h1 {
    margin: 0;
    font-family: 'BlackOpsOne-Regular';
    text-transform: uppercase;
    color: #5bb2fc;
    letter-spacing: 3px;
  }
  span {
    border-bottom: 5px solid #ffc107;
    font-size: 2.5rem;
    color: #fff;
  }
}