.progress {
  width: 100%;
//   border-radius: 1rem;
  height: 1rem;
  background-color: #34bfff4d;
  position: relative;
  & > div {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #00a8ff;
    // border-radius: 1rem;
    &::after {
      position: absolute;
      top: -1.7rem;
      right: -0.6rem;
      content: attr(data-percentage);
      color: #34bfff;
      font-weight: bold;
      font-size: small;
    }
    span {
      position: absolute;
      width: 0;
      right: 0.2rem;
      top: -0.6rem;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 12px solid #00a8ff
    }
  }
}
