.border {
  width: 18%;
  height: 1px;
  display: block;
  margin-top: 26px;
  position: relative;
  margin: 23px auto 0px;
  &::after {
    content: " ";
    position: absolute;
    background: orange;
    height: 7px;
    display: block;
    width: 73px;
    top: -4px;
    left: 34%;
  }
}
